version: '3'

services:
  rtr-api:
    build: 
      context: .
      dockerfile: ./app/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./app:/app/app
      - ./config:/app/config
      - ./ansible_playbooks:/app/ansible_playbooks
      - ./models:/app/models
    depends_on:
      - mongodb
    networks:
      - rtr-network

  mongodb:
    image: mongo:4.4
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PWD}
    volumes:
      - mongodb_data:/data/db
      - ./config/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
      - ./config/mongod.conf:/etc/mongo/mongod.conf
    networks:
      - rtr-network

volumes:
  mongodb_data:

networks:
  rtr-network:
    driver: bridge