version: '3'

services:
  rtr-api:
    build: .
    ports:
      - "${PORT:-8000}:8000"
    environment:
      - MONGODB_PORT=${MONGODB_PORT}
      - MONGODB_HOST=mongodb
      - EPEM_CNIT=${EPEM_CNIT}
      - EPEM_UPC=${EPEM_UPC}
      - EPEM_UMU=${EPEM_UMU}
      - DOC_CNIT=${DOC_CNIT}
      - DOC_UPC=${DOC_UPC}
      - DOC_UMU=${DOC_UMU}
      - CURRENT_DOMAIN=${CURRENT_DOMAIN}
      - RTR_HOST=${RTR_HOST}
      - RTR_PORT=${RTR_PORT}

    volumes:
      - .:/app
    depends_on:
      - mongodb
    networks:
      - rtr-network

  mongodb:
    image: mongo:4.4
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PWD}
    volumes:
      - mongodb_data:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
      - ./db_confs/mongod.conf:/etc/mongo/mongod.conf
    networks:
      - rtr-network

volumes:
  mongodb_data:

networks:
  rtr-network:
    driver: bridge