---
- name: Block IP addresses
  hosts: {{mitigation_host}}
  become: true
  tasks:
    - name: Block all incoming traffic from IP address
      iptables:
        chain: INPUT
        in_interface: {{ interface_name }}
        protocol: all
        source: {{ ipv4_and_subnet }}
        jump: DROP
      when: ansible_os_family == "Debian" or ansible_os_family == "RedHat"

  handlers:
    - name: Reload firewall rules
      service:
        name: iptables   # Replace with the name of your firewall service
        state: reloaded
      when: ansible_os_family == "Debian" or ansible_os_family == "RedHat"